[Unit]
Before=kubelet.service
After=format-home-core-data-ceph-osd.service
Requires=format-home-core-data-ceph-osd.service

[Install]
RequiredBy=kubelet.service

[Mount]
What=/dev/sdd1
Where=/home/core/data/ceph/osd/ceph-202
Type=xfs
DirectoryMode=0777