
# Connect-Viserver 'vcenter.example.com' -User 'admin@example.com' -Password 'v3ry1ns3cur3p4ssw0rd'

# $VMHost
$Cluster ='clustername'
$PortGroup = 'VM Network'
$Datastore = 'datastore1'
$DiskStorageFormat = 'thin'

# CoreOS Update Channel
$UpdateChannel = 'stable'

# Etcd configuration
$EtcdNamePrefix = 'k8setcd'
$EtcdCount = 1
$EtcdVMMemory = 512
$EtcdSubnet = '192.168.1.0'
$EtcdCIDR = 24
$EtcdStartFrom = 50
$EtcdGateway = '192.168.1.254'

# Kubernetes Controller configuration
$ControllerNamePrefix = 'k8sctrl'
$ControllerCount = 1
$ControllerVMMemory = 1024
$ControllerSubnet = '192.168.1.0'
$ControllerCIDR = 24
$ControllerStartFrom = 100
$ControllerGateway = '192.168.1.254'

# Kubernetes Worker configuration
$WorkerNamePrefix = 'k8swork'
$WorkerCount = 1
$WorkerVMMemory = 1024
$WorkerVMCpu = 1
$WorkerSubnet = '192.168.1.0'
$WorkerCIDR = 24
$WorkerStartFrom = 200
$WorkerGateway = '192.168.1.254'

# Disk configuration
$HardDisk = 4GB,5GB,6GB

# CoreOS Remote user
$SSHUser = 'k8s-vsphere'
$SSHPassword = 'K8S-vsph3r3'

# CoreOS host dns records
$DnsServer = '192.168.1.1','192.168.1.2'

# Controller cluster IP
$ControllerClusterIP = '10.3.0.1'